<ng-container *ngFor="let article of articles">
  <main>

    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ article.title }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ article.body }}</p>
        <p> <b> {{ article.author }} </b> </p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="editArticle(article)">EDIT</button>
        <button mat-button color="primary">DELETE</button>
      </mat-card-actions>
    </mat-card>

  </main>
</ng-container>
