@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
main { padding: 20px 10%; }
header {
  padding: 10px 10%;
  color: #333;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
footer {
  padding: 0 10%;
}
.modal {padding: 10px}

.header-container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.header-nav {
  display: grid;
  align-items: center;
}

